{% extends 'base.html.twig' %}

{% block title %}Modification d'une ligne{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}<h1>back modif</h1>{% endblock %}

{% block javascripts %}{% endblock %}
