{% extends 'base.html.twig' %}

{% block title %}Accueil back-office{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}<h1>back home</h1>{% endblock %}

{% block javascripts %}{% endblock %}
