{% extends 'base.html.twig' %}

{% block title %}Ajout d'une ligne{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}<h1>back new</h1>{% endblock %}

{% block javascripts %}{% endblock %}
